@model Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modifier Un Produit</h1>

<form asp-action="Edit" asp-controller="Products" method="post">
    @Html.HiddenFor(x => x.Id);
    <table class="table table-striped table-bordered">

        <tr>
            <td>@Html.DisplayNameFor(x => x.ProductName)</td>
            <td>
                <input asp-for="ProductName" class="input-group" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(x => x.Price)</td>
            <td>
                <input asp-for="Price" class="input-group" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(x => x.Quantity)</td>
            <td>
                <input asp-for="Quantity" class="input-group" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Modifier" class="btn btn-success" />
    <a asp-action="Index" asp-controller="Products" class="btn btn-primary">cancel</a>
</form>

<a asp-action="Index" asp-controller="Products"> Retour à La liste</a>

